html {
  font-size:16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size:1em;
  padding-top: 70px;
}

header .row {
  display:flex;
  border:solid;
}

header h2 {
  font-weight: 700;
  padding:10px;
  margin: 0;
  border:solid;
}

nav {
  display:flex;
  align-items:center;
  flex-direction:row;
  float:right;
  nav-right:auto;
  justify-content:space-between;
  border:solid;
}

@media only screen and (max-width: 600px) 
{.row {flex-direction:column; justify-content: flex-end;}}

@media only screen and (max-width: 600px) 
{.nav {flex-direction:column; justify-content: flex-end;}}


.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.image_container{
  display:flex;
  min-height:200px;
  max-height:28vh;
  padding:0;
  align-items:center;
  overflow:hidden;
}

.imagetext {
  width: 100%;
  position:absolute;
  text-align: center;
  color:floralwhite;
  object-fit:cover;
  align-self:center;
  font-size:3rem;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.imagetext a {
  text-decoration: none;
  color: floralwhite;
  width:30%;
}

.hoveropacity {
  opacity:0.85
}

.hoveropacity:hover{
  opacity:1
}

footer {
  font-size: 12px;
  padding: 20px 0;
  background-color: lightslategray;
  width: 100%;
}

footer .col-sm-12 {
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}


#blog {
  width:86%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blog .post {
  margin-top:12.5%;
  margin-bottom:7.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1rem;
  text-align:justify;
  line-height: 1.8;
  color: #444444;
  width:60%;
}

.post h2 {
  font-size:1.875rem;
  
}

.post h3 {
  font-size:1.125rem;
  color: #999999;
}

#resp-table {
width: 100%;
display: table;
}

#resp-table-caption{
display: table-caption;
text-align: center;
font-size: 30px;
font-weight: bold;
}

#resp-table-header{
display: table-header-group;
background-color: gray;
font-weight: bold;
font-size: 25px;
}
.table-header-cell{
display: table-cell;
padding: 10px;
text-align: left;
border-bottom: 1px solid black;
}
#resp-table-body{
display: table-row-group;
}
.resp-table-row{
display: table-row;
}
.table-body-cell{
display: table-cell;
text-align:left;
padding-left:10px;
}